@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Oxygen:wght@300&family=Rubik:ital@1&display=swap");
/* tragio fuente, es mejor importar y dejar en estilos */
body {
  margin: 0;
  padding: 0;
  font-family: Arial,sans-serif;
  background-color: #161853; }

#plantilla {
  display: grid;
  height: 100vh;
  grid-template-areas: 
    "header header header" 
  "subMenu producto publicidad"
  "subMenu torneos publicidad"
  "footer footer footer";
  grid-template-rows: 100px 5fr 1fr 80px;
  grid-template-columns: 0.4fr 3fr 0.4fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

header {
  grid-area: header; }

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  /* Horizontal */
  align-items: center;
  /* vertical */
  background: -prefix-linear-gradient(to #071B33, white); }
  footer h2 {
    justify-self: center;
    align-self: center; }

.footer__card {
  width: 60px;
  height: 60px;
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-radius: 10%;
  align-items: center; }

.menu {
  display: grid;
  justify-content: flex-end;
  align-items: center;
  background-color: #071B33;
  font-family: Oxygen;}
  .menu____item {
    list-style: none; }
  .menu ul {
    display: flex;
    justify-content: space-evenly; }
  .menu ul li {
    display: inline;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: #071B33; }
  .menu ul li:hover {
    background-color: tomato; }


#colorTextoBotones{
  color: whitesmoke; 
}

#productos {
  grid-area: producto;
  padding: 10px; }

#torneos {
  grid-area: torneos;
  background: linear-gradient(to bottom, #071B33, white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

#subMenu {
  grid-area: subMenu;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
  #subMenu p {
    font-family: Oxygen;
    color: whitesmoke;
    text-align: justify;
    font-size: x-large;
    padding: 15px;
    line-height: 200%;
  }

.publicidad {
  grid-area: publicidad;
  display: flex;
  padding: 10px 10px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap; }

.border-items {
  border: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
}


#logo {
  grid-area: logo; }

#logo {
  width: 60px;
  height: 60px;
  padding: -5px;
  animation: latido 5s linear infinite; }

#logo:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#logo:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@keyframes latido {
  0% {
    transform: scale(0.5); }
  25% {
    transform: scale(1); }
  30% {
    transform: scale(1.4); }
  50% {
    transform: scale(1.2); }
  70% {
    transform: scale(1.4); }
  100% {
    transform: scale(1); } }

.boton {
  background-color: hotpink;
  margin: 10px; }

.card {
  width: 100px;
  height: 300px;
}

@media (max-width: 320px), handheld{
  #plantilla {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    " header" 
    " subMenu"
    " producto"
    " torneos"
    " publicidad"
    " footer";
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

  }
}

@media (min-width:321px) and (max-width:768px), handheld{
  #plantilla {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    " header header" 
    " subMenu producto"
    " subMenu publicidad"
    " subMenu torneos"
    " subMenu torneos"
    " footer footer";
    grid-template-rows: auto;
    grid-template-columns: 0.4fr 3fr 0.4fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
}
@media (min-width: 769px) and (max-width:997px), handheld{
      #plantilla {
      display: grid;
      height: 100vh;
      grid-template-areas: 
      " header header" 
      " subMenu producto"
      " subMenu torneos"
      " subMenu publicidad"
      " footer footer";
      grid-template-rows: auto;
      grid-template-columns: 0.4fr 3fr 0.4fr;
      grid-column-gap: 5px;
      grid-row-gap: 5px;
    }
  }

  
