@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Oxygen:wght@300&family=Rubik:ital@1&display=swap");
/* tragio fuente, es mejor importar y dejar en estilos */
body {
  margin: 0;
  padding: 0;
  font-family: Arial,sans-serif;
  background-color: #161853;
}

#plantilla {
  display: -ms-grid;
  display: grid;
  height: 100vh;
      grid-template-areas: "header header header"  "subMenu producto publicidad" "subMenu torneos publicidad" "footer footer footer";
  -ms-grid-rows: 100px 5fr 1fr 80px;
      grid-template-rows: 100px 5fr 1fr 80px;
  -ms-grid-columns: 0.4fr 3fr 0.4fr;
      grid-template-columns: 0.4fr 3fr 0.4fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Horizontal */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* vertical */
  background: -prefix-linear-gradient(to #071B33, white);
}

footer h2 {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__card {
  width: 60px;
  height: 60px;
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-radius: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #071B33;
  font-family: Oxygen;
}

.menu____item {
  list-style: none;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu ul li {
  display: inline;
  padding: 10px 10px;
  border-radius: 15px;
  background-color: #071B33;
}

.menu ul li:hover {
  background-color: tomato;
}

#colorTextoBotones {
  color: whitesmoke;
}

#productos {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: producto;
  padding: 10px;
}

#torneos {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: torneos;
  background: -webkit-gradient(linear, left top, left bottom, from(#071B33), to(white));
  background: linear-gradient(to bottom, #071B33, white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#subMenu {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: subMenu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#subMenu p {
  font-family: Oxygen;
  color: whitesmoke;
  text-align: justify;
  font-size: x-large;
  padding: 15px;
  line-height: 200%;
}

.publicidad {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: publicidad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.border-items {
  border: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
}

#logo {
  grid-area: logo;
}

#logo {
  width: 60px;
  height: 60px;
  padding: -5px;
  -webkit-animation: latido 5s linear infinite;
          animation: latido 5s linear infinite;
}

#logo:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#logo:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes latido {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  70% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes latido {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  70% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.boton {
  background-color: hotpink;
  margin: 5px;
  padding: 10px;
}

.card {
  width: 100px;
  height: 300px;
}

@media (max-width: 320px), handheld {
  #plantilla {
    display: -ms-grid;
    display: grid;
    height: 100vh;
        grid-template-areas: " header"  " subMenu" " producto" " torneos" " publicidad" " footer";
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
}

@media (min-width: 321px) and (max-width: 768px), handheld {
  #plantilla {
    display: -ms-grid;
    display: grid;
    height: 100vh;
        grid-template-areas: " header header"  " subMenu producto" " subMenu publicidad" " subMenu torneos" " subMenu torneos" " footer footer";
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 0.4fr 3fr 0.4fr;
        grid-template-columns: 0.4fr 3fr 0.4fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
}

@media (min-width: 769px) and (max-width: 997px), handheld {
  #plantilla {
    display: -ms-grid;
    display: grid;
    height: 100vh;
        grid-template-areas: " header header"  " subMenu producto" " subMenu torneos" " subMenu publicidad" " footer footer";
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 0.4fr 3fr 0.4fr;
        grid-template-columns: 0.4fr 3fr 0.4fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
}

.card {
  width: 100px;
  height: 300px;
}

.botonContacto, .botonContacto__aceptar, .botonContacto__cancelar {
  width: 160px;
  background-color: #FAEDF0;
  border-radius: 15px;
  border: 1px solid #161853;
  margin: 10px;
}

.botonContacto__aceptar {
  background-color: tomato;
  color: #FAEDF0;
}

.botonContacto__cancelar {
  background-color: green;
  color: #FAEDF0;
}

#colorBotonTexto {
  color: white;
}
/*# sourceMappingURL=estilos.css.map */